<html lang='en'>
    {{>head}}
  <body>
    <!-- bg-gradient-to-br from-yellow-400 to-pink-500 via-red-400 -->
    <div class="flex flex-col h-screen justify-between">
      {{>header}}
      <main class="container h-full w-full mb-auto mx-auto">
        {{{body}}}
      </main>
      {{>footer}}
    </div>
  </body>
</html>