<html lang='es'>
    {{>head}}
  <body>
    <div class="flex flex-col h-screen justify-between">
      {{>header}}
      <main class="container w-full h-full overflow-y-auto mb-auto mx-auto">
        {{{body}}}
      </main>
      {{>footer}}
    </div>
    <script>
      feather.replace({width: 'auto', height: 'auto'})
    </script>
  </body>
</html>