<div
  class='bg-gray-100 rounded-lg text-center px-4 py-2 m-2 bg-opacity-40 shadow-lg'
>
  <div class='flex justify-center px-4 py-2 m-2'>
    <p class='content mb-4 h-8 w-8'>
      <span id='content-icon-day-{{day}}'>
        <i id='icon' data-feather='circle' class='w-8 h-8'></i>
      </span>
    </p>
  </div>
  <div
    class='text-sm font-normal px-4 h-3 m-2 content'
    id='content-date-day-{{day}}'
  ></div>
  <div
    class='text-xl font-medium px-4 h-3 py-1 m-2 mb-5 content'
    id='content-temp-day-{{day}}'
  ></div>
</div>