<div
  id='content-image'
  class='w-full bg-gray-100 bg-opacity-40 shadow-lg rounded-lg'
  style='background-repeat: no-repeat;background-size: cover;'
>
  <div class='py-6 pl-8 pr-32 w-full rounded-lg'>
    <div class='mb-20'>
      <h2
        class='font-bold text-3xl leading-none mb-3 pb-1 h-4 w-2/5 content'
        id='message-location'
      ></h2>
      <h3 class='leading-none mb-3 pb-2 pl-1 h-4 w-1/5 content'></h3>
      <p class='flex aling-center opacity-75 h-4 w-1/12 content'>
        <svg
          class='w-4 inline mr-1'
          fill='none'
          viewBox='0 0 24 24'
          stroke='currentColor'
        >
          <path stroke='none' d='M0 0h24v24H0z'></path>
          <path
            d='M7 18a4.6 4.4 0 0 1 0 -9h0a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7'
          ></path>
          <path d='M11 13v2m0 3v2m4 -5v2m0 3v2'></path>
        </svg>
        <span id='message-4'></span>
      </p>
    </div>
    <div>
      <p class='content mb-4 h-16 w-1/6'>
        <span id='icon'>
          <i id='icon' data-feather='circle' class='w-16 h-16'></i>
        </span>
      </p>
      <strong
        class='leading-none text-6xl block font-weight-bolder mb-3 h-16 w-1/4 content'
        id='message-2'
      ></strong>
      <p
        class='text-2xl block font-bold align-text-top h-8 w-3/5 content'
        id='message-1'
      >
      </p>
    </div>
  </div>
</div>